body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(270deg, #48008b, #5800bd);
    background-size: 400% 400%;
    animation: Gradient 10s ease infinite;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

@keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

h1 {
    margin-bottom: 25px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
}

/* Style the result container */
.result {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto 0;
    border: 5px solid rgb(255, 255, 255);
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}


/* Style the reset button */
#reset-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #b72fed;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: 90%;
}

#reset-button:hover {
    background-color: #b72fed;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    background: rgba(8, 126, 223, 0.5);
    color: #ffffff;
}

#reset-button:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

@media (min-width: 768px) {
    #reset-button {
        padding: 14px 22px;
        width: 100%;
    }
}

/* Style the grid */
.grid {
    display: grid;
    height: 50vw;
    width: 50vw;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    border:5px solid #ffffff;
    padding: 10px;
    align-content: space-evenly;
    justify-content: space-evenly;
    color: #000000;
    box-sizing: border-box;
}

/* Style the buttons inside the grid */
.cell {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 3vw;
    border: 5px solid #000000;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .grid, .result {
        width: 50%;
    }

    .grid {
        height: 25vw;
        width: 25vw;
    }

    .result {
        width: 25vw;
    }
}

